@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

h1 {
  @apply text-5xl my-3;
}

h2 {
  @apply text-4xl my-3;
}

h3 {
  @apply text-3xl my-3;
}

h4 {
  @apply text-2xl my-3;
}

h5 {
  @apply text-xl my-3;
}

h6 {
  @apply text-lg my-3;
}

p {
  @apply text-base my-3;
}

body {
  @apply bg-gray-800 text-white;
}
