pre[class*="language-"] > .code-highlight {
  padding: 0;
  border: none;
  font-size: 14px;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #ebdbb2; /* fg1 / fg */
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  color: #fbf1c7; /* fg0 */
  background: #7c6f64; /* bg4 */
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  color: #fbf1c7; /* fg0 */
  background: #7c6f64; /* bg4 */
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 8px 0;
  overflow: auto;
  font-size: 14px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  border: 1px solid var(--tx-accent-light);
  border-radius: 7px;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  font-size: 14px;
}

.token {
  font-size: 14px;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #a89984; /* fg4 / gray1 */
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
  color: #bb8395; /* red2 */
}

.token.operator,
.token.punctuation,
.token.attr-name {
  color: #a89984; /* fg4 / gray1 */
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
  color: #fabd2f; /* yellow2 */
}

.token.entity,
.token.number,
.token.symbol {
  color: #d3869b; /* purple2 */
}

.token.property,
.token.constant,
.token.variable {
  color: #bb8395; /* red2 */
}

.token.string,
.token.char {
  color: #b8bb26; /* green2 */
}

.token.attr-value,
.token.attr-value .punctuation {
  color: #a89984; /* fg4 / gray1 */
}

.token.url {
  color: #b8bb26; /* green2 */
  text-decoration: underline;
}

.token.function {
  color: #fabd2f; /* yellow2 */
}

.token.regex {
  background: #b8bb26; /* green2 */
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.inserted {
  background: #a89984; /* fg4 / gray1 */
}

.token.deleted {
  background: #bb8395; /* red2 */
}

.code-line {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 14px;
}

.rehype-code-title {
  background: var(--bg-sub);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: 1px solid var(--tx-accent-light);
  padding: 5px 16px;
  font-weight: 700;
  margin-top: 8px;
  font-size: 14px;
}

.rehype-code-title + pre {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

pre {
  overflow-x: auto;
}

.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left-width: 4px;
  font-size: 14px;
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2); /* Set inserted line (+) color */
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2); /* Set deleted line (-) color */
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(55, 65, 81, 0.5); /* Set highlight bg color */
  border-left-width: 4px;
  font-size: 14px;
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175); /* Line number color */
  content: attr(line);
}
